---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/* 1.Html font size */
html {
  font-size: 100%;
}

/* 2.Body background,font,color */
body {
	background: #272829;
  font-size : 16px;
  font-family: $helvetica;
  line-height: 1.6;
  color: #EEEEEE;
}

/* 3.Container size */
.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

/* 4.H1,H2,H3,H4,H5,H6 font,color */
h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: #EEEEEE;
  font-weight: 700;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

/* 5.H1,H2,H3,H4,H5,H4 Font size */
h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2
{
  font-size: 23px;
  padding-top: 30px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

/* 6.p margin */
p {
  margin: 15px 0;
}

/* 7.a link */
a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

/* 8.ul,ol */
ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

/* 9.em i , strong b */
em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

/* 10.img */
img {
  max-width: 100%;
}

img.centered
{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* 11.img caption */
imgcap
{	
	font-size: 16px;
	font-style: italic;
	color: #A6ACAF;
}

/* 12.Fix image google translate */ 
// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

/* 13.Date */
.date {
  font-size: 14px;
  color: #B6BBC4;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background: #222222;
}

.masthead {
  padding: 20px 0;
  /* border-bottom: 1px solid $lightGray; */

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #F0ECE5;
  text-shadow: 2px 2px 6px rgba(240,236,229,0.43);
  cursor: pointer;
  font-family: 'Josefin sans' , sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;

  /* For mobile view */
  @include mobile 
  {
     padding-top: 10px;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: #B6BBC4;
  text-shadow: 2px 2px 6px rgba(240,236,229,0.43);
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;
  display: block;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #D8D8D8;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

/* 14.Blockquote */
.post 
{ /* == .post */
  blockquote 
  { /* == blockquote */
    font-family: 'Josefin Sans' , sans-serif;
    font-weight: 600;
    margin: 1.8em .8em;
    border-left: 3px solid #A0A0A0;
    padding: 0.1em 1em;
    color: #B6BBC4;
    font-size: 17px;
    font-style: italic;
  } /* == blockquote end */

  .comments 
   { /* == .comments */
    margin-top: 10px;
   } /* == .comments end */

  .read-more 
  {  /* == .red-more */
    text-transform: uppercase;
    font-size: 15px;
  } /* == .read-more end */
} /* == .post end */

.wrapper-footer 
{
  margin-top: 50px;
  border-top: 1px solid $darkGray; 
  border-bottom: 1px solid #ddd;
  background-color: #222222;
}

footer 
{
  padding: 20px 0;
  text-align: center;
}

.social-icon1
{
	border-top: 1px solid $darkGray;
	border-bottom: 1px solid $darkGray;
	text-align: center;
	/* padding: 10px 0px 5px 0; */
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #222222;
}

/* === Svg Icon === */
.fa-youtube , .fa-facebook , .fa-envelope , .fa-discord
{
  font-size: 40px;
  width: 50px;
  height: 40px;
  display: inline-block;
  padding-top: 10px;
}

.fa-youtube
{
    color : #FF0000;
}

.fa-discord
{
    color : #7289d9;
}

.fa-envelope
{
    color : #EA4335;
}
/* === svg icon end here === */

.credit1 
{
    font-size: 14px;
    color: #B6BBC4;
    text-shadow: 2px 2px 6px rgba(240,236,229,0.43);
}

//For horizontal line
hr 
{
	color: #282828;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "video-embed";
