---
layout: default
---

<!---
SECTION LIST :
1.Post Title
2.Date Section
-->

<!--- 1.Post Title -->
<article class="post">
  <h1>{{ page.title }}</h1>
  
  <!--- 2.Date Section -->
  <div class="date">
  
  <!--- Post date -->
    Written on: {{ page.date | date: "%B %e, %Y" }}	
	
	</br>
	
	<!--- Update post date -->
	{%- if page.last_modified_at -%}
            Last updated: {{ page.last_modified_at | date: "%B %e, %Y" }}
        {%- else -%}
            Last updated: {{ page.date | date: "%B %e, %Y" }}
        {%- endif -%}
  </div>
  
  <span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>

  <div class="entry">
    {{ content }}
  </div>
	
 <!-- {% include disqus.html %} -->
</article>
